/* Css for About Section */
.about-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 5rem 2rem;
  margin: 0 auto;
}

.about-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  height: auto;
}

#img-side__main-img {
  border-radius: 1.7rem;
  height: 20rem;
  width: 30rem;
}

.work-emoji {
  bottom: -12px;
  position: absolute;
  right: 49px;
  width: 6rem !important;
  z-index: 1;
}

/*  */

/* .img-side span {
  background-color: #fff;
  border-radius: 50%;
  bottom: -70px;
  right: 0px;
  height: 12rem;
  width: 12rem;
  position: absolute;
} */

/* updated code */
.img-side span {
  background-color: #fff;
  border-radius: 50%;
  bottom: -4rem;
  right: -1rem;
  height: 8rem;
  width: 8rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .img-side span img {
  -webkit-animation: rotate 9s linear infinite;
  animation: rotate 9s linear infinite;
  width: 12rem;
} */

/* updated code */
.img-side span img {
  animation: rotate 9s linear infinite;
  width: 100%;
  height: auto;
}

.img-side {
  position: relative;
}

.text-side {
  /* padding-right: 1.5rem; */
  width: 500px;
}

.text-side h3 {
  color: #147efb;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.text-side h4 {
  color: #2d2e32;
  font-family: Poppins, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 0.85rem;
}

.text-side p {
  color: #767676;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

.img-side__main-img {
  border-radius: 1.7rem;
  height: 35rem;
  width: 41rem;
}

/* Responsivenes for About Section */
@media only screen and (max-width: 950px) {
  .about-content {
    flex-direction: column;
    gap: 4rem;
  }

  #img-side__main-img {
    height: 15rem;
    width: 20rem;
  }

  .text-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .text-side h4 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .text-side p {
    text-align: center;
  }

  /* .img-side span {
    bottom: -55px;
    right: -6px;
    height: 8rem;
    width: 8rem;
    position: absolute;
  } */

  /* .img-side span img {
    width: 8rem;
  } */

  /* .work-emoji {
    bottom: -15px;
    position: absolute;
    right: 26px;
    width: 4rem !important;
    z-index: 1;
  } */

  .img-side span {
    bottom: -3.5rem;
    right: -1rem;
    height: 6rem;
    width: 6rem;
  }

  .img-side span img {
    width: 100%;
    height: auto;
  }

  .work-emoji {
    bottom: -1rem;
    right: 1.5rem;
    width: 4rem !important;
  }
}
