.header {
  top: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: auto;
  font-weight: 600;
  padding: 25px 50px;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
}

.head-name {
  font-family: "Passion One", sans-serif;
  font-size: 2rem;
  font-weight: 100;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-list li a:hover {
  color: rgba(240, 46, 170, 0.4);
}

.menu-button {
  display: none;
}

.res-nav-list {
  display: none;
}

ul a {
  text-decoration: none;
  color: black;
}

/* Responsiveness for Header Section*/
@media only screen and (max-width: 950px) {
  .header{
      padding: 25px;
  }
  /* For toggle menu button */
  .nav-list {
    display: none;
  }

  .res-nav-list {
    display: inline-block;
    position: fixed;
    top: 5.8rem;
    right: 2rem;
    border-radius: 1px;
    text-align: center;
    z-index: 10;
  }

  .res-nav-list ul {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
  }

  .res-nav-list ul li {
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 0.5px solid black;
    border-radius: 30px;
    font-weight: 600;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
      rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px,
      rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  }

  .res-nav-list li a:hover {
    color: rgba(240, 46, 170, 0.4);
  }

  /* For menu button */
  .menu-button {
    display: contents;
    background: none;
    border: 1px;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}
