.hero {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  /* height: 110vh; */
  padding: 8rem 15rem;
  margin: 0 auto;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.wave-hand {
  width: 48px;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 700;
}

.hero-text p {
  font-size: 1.2rem;
  color: #555;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  justify-content: left;
  gap: 5rem;
}

.profile-img {
  border: 2px solid black;
  width: 350px;
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 400px;
  transition: all 1s ease-in-out;
  width: 400px;
  z-index: 1;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.hero-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 2rem;
}

.skills p {
  font-weight: 400;
  border-right: 2px solid rgba(45, 46, 50, 0.5);
  padding: 20px;
  font-weight: 600;
}

.logos {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 1.2rem;
}

.logos li {
  padding: 5px; /* Adding padding around each list item */
}

.logos li img {
  transition: transform 0.3s ease; /* Transition for the transform property */
  cursor: pointer;
}

.logos li:hover img {
  transform: translateY(-10px); /* Uplift the icon by 5 pixels */
}

.links a img {
  height: 32px;
  width: auto;
  padding-right: 1rem;
}

/* Responsivess For Home Section */
@media only screen and (max-width: 950px) {
  .hero {
    padding: 0;
    padding-top: 10rem;
  }

  .hero-main {
    flex-direction: column-reverse;
    text-align: center;
    height: auto;
    /* padding-top: 15rem; */
    /* padding-left: 2rem; */
    text-wrap: wrap;
  }

  .hero-text p {
    text-wrap: balance;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .skills {
    flex-direction: column;
  }
  .skills p {
    border-right: none;
    border-bottom: 2px solid rgba(45, 46, 50, 0.5);
  }
  .skills ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  .content {
    gap: 2rem;
  }

  .profile-img {
    width: 300px;
    height: 300px;
  }
}
