/* project-card section */
.project-container {
  border-radius: 1.7rem;
  width: 990px;
  height: 400px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.preview {
  width: 530px;
  height: 360px;
  border-radius: 1.7rem;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.preview img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1.7rem;
}

.preview img:hover {
  transform: translateY(-65%);
  transition: transform 10s ease-in-out 0s;
}

.project-info {
  border-radius: 1.7rem;
  padding: 0 2rem;
  width: 380px;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.project-info p {
  text-align: center;
  font-size: 0.9rem;
}

.stack {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.stack p {
  margin-right: 5px;
  padding: 1rem 1rem;
  padding: 0.95rem 0.75rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 1.7rem;
}

.stack p:hover {
  box-shadow: none;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.link a {
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem;
  text-decoration: none;
  color: black;
}

.link a:hover {
  color: #147efb;
}

@media only screen and (max-width: 950px) {
  /* .project-container {
    width: auto;
    height: 700px;
    flex-direction: column;
    background-color: yellow;
    box-sizing: border-box;
  }

  .project-container {
    width: 333px;
    height: 700px;
  } */

  .project-container {
    width: 100%;
    max-width: 333px;
    height: auto;
    margin: 0 auto; /* Center it */
  }

  .preview {
    width: 300px;
    height: 270px;
  }
}
