.scrollToTop {
  position: fixed;
  bottom:75px;
  right: 20px;
  background-color:black;
  color: white;
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  z-index: 999;
  transition: all 0.1s ease; /* smooth transition */
}

.scrollToTop:hover {
  background-color:var(--bg-hover);
}

.arrowbtn{
  display: flex;
  flex-direction: column;
}
