@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Responsive codeeeeeeeeeeeeeee */
@keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@media only screen and (max-width: 950px) {
  .hero {
    padding: 0;
    padding-top: 10rem;
  }
  .hero-main {
    flex-direction: column-reverse;
    text-align: center;
    height: auto;
    /* padding-top: 15rem; */
    /* padding-left: 2rem; */
    text-wrap: wrap;
  }
  .hero-text p {
    text-wrap: balance;
  }
  .hero-text h1 {
    font-size: 2rem;
  }
  .skills {
    flex-direction: column;
  }
  .skills p {
    border-right: none;
    border-bottom: 2px solid rgba(45, 46, 50, 0.5);
  }
  .skills ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  .content {
    gap: 2rem;
  }
  .about-content {
    flex-direction: column;
    gap: 4rem;
  }

  #img-side__main-img {
    height: 15rem;
    width: 20rem;
  }

  .text-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .text-side h4 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .text-side p {
    text-align: center;
  }
  .profile-img {
    width: 300px;
    height: 300px;
  }
  .img-side span img {
    width: 8rem;
  }
  .img-side span {
    bottom: -55px;
    right: -6px;
    height: 8rem;
    width: 8rem;
    position: absolute;
  }
  .work-emoji {
    bottom: -15px;
    position: absolute;
    right: 26px;
    width: 4rem !important;
    z-index: 1;
  }

  /* For toggle menu button */
  .nav-list {
    display: none;
  }

  .res-nav-list {
    display: inline-block;
    position: fixed;
    top: 5.8rem;
    right: 2rem;
    border-radius: 1px;
    text-align: center;
    z-index: 10;
  }

  .res-nav-list ul {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
  }
  .res-nav-list ul li {
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 0.5px solid black;
    border-radius: 30px;
    font-weight: 600;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
      rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px,
      rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  }

  .res-nav-list li a:hover {
    color: rgba(240, 46, 170, 0.4);
  }

  /* For menu button */
  .menu-button {
    display: contents;
    background: none;
    border: 1px;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}
